{% extends 'base.html' %}

{% block content %}

<div class="glass-card">

<h1 class="title">
🔐 Password Strength Checker
</h1>

<p class="subtitle">
Check whether your password is Weak, Medium or Strong.
</p>

<br>

<form action="/password_checker" method="POST">

    <input
        type="password"
        name="password"
        class="url-input"
        placeholder="Enter Strong Password"
        required>

    <br><br>

    <button type="submit" class="scan-btn">
        🔍 Check Password
    </button>

</form>


</div>

{% if score > 0 %}

<br>

<div class="glass-card">

<h2>

Password Strength

</h2>

<br>

<div class="progress" style="height:30px;">

{% if score >= 80 %}

<div
class="progress-bar bg-success"
style="width:{{score}}%;">

{{score}}%

</div>

{% elif score >= 50 %}

<div
class="progress-bar bg-warning text-dark"
style="width:{{score}}%;">

{{score}}%

</div>

{% else %}

<div
class="progress-bar bg-danger"
style="width:{{score}}%;">

{{score}}%

</div>

{% endif %}

</div>

<br>

{% if score >= 80 %}

<div class="result-safe">

<h2>

🟢 STRONG PASSWORD

</h2>

<p>

{{ suggestion }}

</p>

</div>

{% elif score >= 50 %}

<div class="result-warning">

<h2>

🟡 MEDIUM PASSWORD

</h2>

<p>

{{ suggestion }}

</p>

</div>

{% else %}

<div class="result-danger">

<h2>

🔴 WEAK PASSWORD

</h2>

<p>

{{ suggestion }}

</p>

</div>

{% endif %}

</div>

{% endif %}

<br>

<div class="glass-card">

<h2>

💡 Strong Password Tips

</h2>

<ul style="line-height:35px;">

<li>✔ Minimum 8-12 Characters</li>

<li>✔ Use Uppercase Letters</li>

<li>✔ Use Lowercase Letters</li>

<li>✔ Include Numbers</li>

<li>✔ Include Special Characters</li>

<li>✔ Never Use Your Name</li>

<li>✔ Never Use Birth Date</li>

<li>✔ Avoid Common Passwords</li>

</ul>

</div>

{% endblock %}